In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://stepik.org/media/attachments/lesson/409319/test1_completed.csv")
df = df.rename(columns={"Товар":"item", "Количество":"amount"})

In [3]:
df.head()

      id             item  amount
0  17119            Лимон     1.1
1  17119  Лимон оранжевый     0.7
2  17119        Лук-порей    10.0
3  17119     Лук репчатый     2.5
4  17119    Малина свежая     1.0

In [4]:
data = df.iloc[:, :2] # оставим только нужные колонки
data.head()

      id             item
0  17119            Лимон
1  17119  Лимон оранжевый
2  17119        Лук-порей
3  17119     Лук репчатый
4  17119    Малина свежая

In [34]:
print(data.id.nunique() == df.id.nunique())# проверим, что ничего не потерялось в процессе
print(data.id.nunique() == df.id.nunique())

True
True

In [35]:
items_list_per_id = data.groupby("id")['item'].apply(list).values

In [36]:
unique_items = data.item.unique().tolist() # создадим список товаров, и дубликат
unique_items_dublicate = data.item.unique().tolist()

##### data - наш датасет, 
##### unique_items = список товаров, 
##### unique_items_dublicate = список товаров дубликат, 
##### items_list_per_id  -  список товаров по каждому заказу (список со списками)

In [59]:
col1 = [] 
col2 = []
counter = []
n = 0

In [60]:
done_list = [] #список, в который мы будем записывать товары, которые проверили
for i in unique_items: # итерируемся по списку товаров
    for h in unique_items_dublicate: # итерируемся по списку дубликатов 
        if h not in done_list: # убедимся, что товар еще не в списке проверенных товаров
            n = 0 # счетчик встречаемости
            if i != h:  #убедимся, что это не один и тот же товар                
                for j in items_list_per_id:           
                    if i in j and h in j:  # если в списке товаров по одному заказу присутствуют оба проверяемых товара, увеличиваем счетчик на 1  
                            n +=1                                     
                col1.append(i) #товар 1                       
                col2.append(h) #товар 2           
                counter.append(n) # встречаемость
    done_list.append(i) #записываем товар, который уже проверили

In [61]:
# Запишем результаты в датафрейм
items_match_df = pd.DataFrame({"1_Товар":col1, "2_Товар":col2, "Встречаемость":counter})
items_match_df = items_match_df.sort_values(by="Встречаемость", ascending=False)
items_match_df.reset_index(drop=True, inplace=True)

In [62]:
# Таким образом мы получили таблицу встречаемости товаров по убыванию
items_match_df.head()

             1_Товар  2_Товар  Встречаемость
0  Огурцы Луховицкие    Укроп            431
1           Петрушка    Укроп            408
2  Огурцы Луховицкие    Арбуз            345
3  Огурцы Луховицкие  Кабачки            326
4              Укроп    Кинза            303